<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.mdWidget</string>
	<key>CFBundleName</key>
	<string>mdWidget</string>
	<key>CFBundleDisplayName</key>
	<string>Markdown Widget</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>10</integer>
	<key>CloseBoxInsetY</key>
	<integer>10</integer>
	<key>Height</key>
	<integer>250</integer>
	<key>Width</key>
	<integer>375</integer>
	<key>MainHTML</key>
	<string>mdWidget.html</string>
</dict>
</plist>
