div.header {
	padding: 3px;
	text-align: center;
	font-family: Georgia;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #DDD;
}

div.footer {
	text-align:center; 
	width: 355px;
	height:20px;
	position: relative;
	top: 2px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	font-family: Georgia;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #DDD;
}

div.card {
	position: absolute;
	top:250px;
	width: 352px;
}


div.text {
	font-family: Verdana;
	font-size: 8pt;
	color: #DDD;
	margin-left: 3px;
}

div.background {
	-webkit-border-radius: 15px;
	background-color: #555;
	padding-top: 15px;
	padding-bottom: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #DDD;
}

div.content {
	height: 190px;
	background-color: #333;
}

div.subheading {
	font-family: Gill Sans;
	text-transform: uppercase;
	font-size: 10pt;
	color: #DDD;
	background-color: #777;
	width:349px;
	padding:3px;
}

div.summary {
	font-family: Monaco;
	font-size: 9pt;
	color: #DDD;
	width: 200px;
}

a.heading {
	color: #DDD;
	text-decoration: underline;
	padding: 1px;
	font-family: Monaco;
	font-size: 11pt;
	width: 150px;
}

a.none {
	text-decoration: none;
}

a.uparrow {
	text-decoration: none;
	text-decoration: bold;
	color: #DDD;
}

table.headingsTable {
	font-family: Monaco, "Courier New";
	font-size: 10pt;
	color: #DDD;
}

td.headingsTopCell {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	padding-bottom: 1px;
	font-size: 7pt;
	width: 120px;
	background-color: #555;
}

td.headingsBottomCell {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-size: 7pt;
	width: 120px;
	background-color: #555;
}

table.blockquoteTable {
	font-family: Monaco, "Courier New";
	font-size: 10pt;
	color: #DDD;
}

td.blockquoteCell {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-size: 7pt;
	background-color: #555;
}


table.listsTable {
	font-family: Monaco, "Courier New";
	font-size: 10pt;
	color: #DDD;
}

td.listsCell {
	font-family: Monaco, "Courier New";
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-size: 7pt;
	background-color: #555;
}

table.codeblocksTable {
	font-family: Monaco, "Courier New";
	font-size: 10pt;
	color: #DDD;
}

td.codeblocksCell {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-size: 7pt;
	background-color: #555;
}

table.hrTable {
	font-family: Monaco, "Courier New";
	font-size: 10pt;
	color: #DDD;
}

td.hrCell {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-size: 7pt;
	background-color: #555;
}


td.heading {
	padding: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	width:172px;
	background-color: #777;
	text-align: center;
	font-family: Gill Sans;
	color: #DDD;
	-webkit-border-radius: 5px;
}


#infoButton {

}

#front {
	display:block;
}

#back {
	display:none;
}

#doneButton {
	position:absolute;
	bottom:20px;
	left:82px;
}
